
@{
    ViewBag.Title = "Menu";
}


<div class="col-xs-12">
    <div class="text-center">
        <p id="saludo">¡Bienvenido!</p>
        <div class="h5 mid-line">
            <span class="mid-title">Filtros rápidos</span>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary">Aleatorio</button>
            <button type="button" class="btn btn-primary">Ahora</button>
            <button type="button" class="btn btn-primary">Categorías</button>
        </div>
        <div class="h5 mid-line">
            <span class="mid-title">Sugerencias</span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac cursus tellus. Suspendisse porttitor faucibus metus, nec varius dui eleifend et. Ut lacinia, ligula ut tempus feugiat, neque neque pellentesque lorem, vitae aliquam velit lorem et odio. Proin dictum aliquet nibh, vel venenatis leo accumsan a. Nunc ut turpis nec lectus ornare pellentesque. Sed eget pellentesque tortor. Donec a mauris vel tellus convallis dignissim. Nam in feugiat magna. Fusce et augue ipsum. Donec a tincidunt odio. Phasellus id nibh vitae libero tempus sodales. Donec vulputate nisl id orci tempor volutpat in non neque.
        </p>
        <p>
            Nullam egestas, ante at lacinia aliquet, tortor justo rutrum justo, sed rutrum arcu felis sed ligula. Cras volutpat urna consectetur ex ultrices gravida. Donec placerat purus ac vulputate accumsan. Integer vitae suscipit urna. Aliquam tincidunt sit amet velit vitae semper. Aliquam erat volutpat. Curabitur at mi viverra sapien placerat convallis sed in turpis. Vivamus vitae dui ac diam blandit sodales vitae vel massa. Suspendisse tristique pretium tempus. Suspendisse potenti. Fusce posuere, dui at vehicula egestas, nisi orci imperdiet tellus, a convallis neque sem sed leo. Praesent semper ex justo, eget accumsan nibh viverra sit amet. Vivamus consequat nisl ac nisi sodales fermentum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac cursus tellus. Suspendisse porttitor faucibus metus, nec varius dui eleifend et. Ut lacinia, ligula ut tempus feugiat, neque neque pellentesque lorem, vitae aliquam velit lorem et odio. Proin dictum aliquet nibh, vel venenatis leo accumsan a. Nunc ut turpis nec lectus ornare pellentesque. Sed eget pellentesque tortor. Donec a mauris vel tellus convallis dignissim. Nam in feugiat magna. Fusce et augue ipsum. Donec a tincidunt odio. Phasellus id nibh vitae libero tempus sodales. Donec vulputate nisl id orci tempor volutpat in non neque.
        </p>
        <p>
            Nullam egestas, ante at lacinia aliquet, tortor justo rutrum justo, sed rutrum arcu felis sed ligula. Cras volutpat urna consectetur ex ultrices gravida. Donec placerat purus ac vulputate accumsan. Integer vitae suscipit urna. Aliquam tincidunt sit amet velit vitae semper. Aliquam erat volutpat. Curabitur at mi viverra sapien placerat convallis sed in turpis. Vivamus vitae dui ac diam blandit sodales vitae vel massa. Suspendisse tristique pretium tempus. Suspendisse potenti. Fusce posuere, dui at vehicula egestas, nisi orci imperdiet tellus, a convallis neque sem sed leo. Praesent semper ex justo, eget accumsan nibh viverra sit amet. Vivamus consequat nisl ac nisi sodales fermentum.
        </p>
    </div>
</div>

<div class="collapse" id="overlay">
    <div id="overlay-content" class="container">
        @Html.Action("NuevoAlimento","Alimento")
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('label.upload-img').on('click', function () { $('input#Alimento_Imagen').click(); })

            var eyeOpen = $('span.glyphicon-eye-open');
            var eyeClose = $('span.glyphicon-eye-close');

            eyeOpen.parent().on('click', function () {
                eyeOpen.removeClass('text-muted');
                $('span.glyphicon-eye-close').addClass('text-muted');
                $('#privacy-display').html('Público');
                $('#Alimento_Privacidad').val('Publico');
            });
            eyeClose.parent().on('click', function () {
                eyeClose.removeClass('text-muted');
                $('span.glyphicon-eye-open').addClass('text-muted');
                $('#privacy-display').html('Privado');
                $('#Alimento_Privacidad').val('Privado');
            });

            $('#Alimento_Precio').val('');

            if (window.File && window.FileReader && window.FormData) {
                var $inputField = $('#Alimento_Imagen');

                $inputField.on('change', function (e) {
                    var file = e.target.files[0];

                    if (file) {
                        if (/^image\//i.test(file.type)) {
                            readFile(file);
                        } else {
                            alert('Not a valid image!');
                        }
                    }
                });
            } else {
                alert("File upload is not supported!");
            }


        });

    </script>
}