body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.toolbar{
    float: right;
    margin-top: 10px;
}

.toolbar > li > a.btn-circle {
    border-radius: 50%;
    background-color: #222;
    color: #fff;
    height: 30px;
    width: 30px;
    padding-top: 7px;
    padding-left: 8px;
}

.toolbar > li > a.btn-circle:hover, .toolbar > li > a.btn-circle:focus {
    background-color: #444444;
}

.navbar-toggle {
    margin-left: 12px;
}

.mid-line {
    border-bottom: 1px solid #333333; 
    line-height: 0.1em !important; 
    margin: 20px 0 25px;
}

.mid-line .mid-title {
    background: #fff; 
    padding: 0 10px;
}

#saludo {
    margin-top: 15px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: scroll;
    z-index: 2;
}

#overlay-content {
    background: #fff;
    position: relative;
    top: 50px;
}

.borderless {
    border: none;
}

.underlined {
    border-bottom: 1px solid #333;
    margin-bottom: 1%;
}

label[data-content]:hover::after {
    content: attr(data-content);
    color: #aaa;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 53%;
}

label.upload-img:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.fa-star.checked {
    color: orange;
}

.fa-star {
    color: #999;
}

.rank {
    font-weight: bold;
}

.price {
    font-size: 28px;
}

.main-pic {
    float: left;
    width: 45%;
    position: relative;
}

#loading {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}