
@{
    ViewBag.Title = "Lugares";
}

<div class="col-xs-12">
    <div class="text-center">
        <div class="h5 mid-line">
            <span class="mid-title">@ViewBag.Title</span>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac cursus tellus. Suspendisse porttitor faucibus metus, nec varius dui eleifend et. Ut lacinia, ligula ut tempus feugiat, neque neque pellentesque lorem, vitae aliquam velit lorem et odio. Proin dictum aliquet nibh, vel venenatis leo accumsan a. Nunc ut turpis nec lectus ornare pellentesque. Sed eget pellentesque tortor. Donec a mauris vel tellus convallis dignissim. Nam in feugiat magna. Fusce et augue ipsum. Donec a tincidunt odio. Phasellus id nibh vitae libero tempus sodales. Donec vulputate nisl id orci tempor volutpat in non neque.
        </p>
        <p>
            Nullam egestas, ante at lacinia aliquet, tortor justo rutrum justo, sed rutrum arcu felis sed ligula. Cras volutpat urna consectetur ex ultrices gravida. Donec placerat purus ac vulputate accumsan. Integer vitae suscipit urna. Aliquam tincidunt sit amet velit vitae semper. Aliquam erat volutpat. Curabitur at mi viverra sapien placerat convallis sed in turpis. Vivamus vitae dui ac diam blandit sodales vitae vel massa. Suspendisse tristique pretium tempus. Suspendisse potenti. Fusce posuere, dui at vehicula egestas, nisi orci imperdiet tellus, a convallis neque sem sed leo. Praesent semper ex justo, eget accumsan nibh viverra sit amet. Vivamus consequat nisl ac nisi sodales fermentum.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac cursus tellus. Suspendisse porttitor faucibus metus, nec varius dui eleifend et. Ut lacinia, ligula ut tempus feugiat, neque neque pellentesque lorem, vitae aliquam velit lorem et odio. Proin dictum aliquet nibh, vel venenatis leo accumsan a. Nunc ut turpis nec lectus ornare pellentesque. Sed eget pellentesque tortor. Donec a mauris vel tellus convallis dignissim. Nam in feugiat magna. Fusce et augue ipsum. Donec a tincidunt odio. Phasellus id nibh vitae libero tempus sodales. Donec vulputate nisl id orci tempor volutpat in non neque.
        </p>
        <p>
            Nullam egestas, ante at lacinia aliquet, tortor justo rutrum justo, sed rutrum arcu felis sed ligula. Cras volutpat urna consectetur ex ultrices gravida. Donec placerat purus ac vulputate accumsan. Integer vitae suscipit urna. Aliquam tincidunt sit amet velit vitae semper. Aliquam erat volutpat. Curabitur at mi viverra sapien placerat convallis sed in turpis. Vivamus vitae dui ac diam blandit sodales vitae vel massa. Suspendisse tristique pretium tempus. Suspendisse potenti. Fusce posuere, dui at vehicula egestas, nisi orci imperdiet tellus, a convallis neque sem sed leo. Praesent semper ex justo, eget accumsan nibh viverra sit amet. Vivamus consequat nisl ac nisi sodales fermentum.
        </p>
    </div>
</div>

<div class="collapse" id="overlay">
    <div id="overlay-content" class="container">
        @Html.Action("NuevoPV", "PuntoVenta")
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/PuntoVenta/Contacto.js"></script>
    <script src="~/Scripts/PuntoVenta/ServicioEntrega.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Contacto.initPlusBtn();
            Contacto.agregar(new Contacto());
            ServicioEntrega.initPlusBtn();
            ServicioEntrega.agregar(new ServicioEntrega());
            $('#Ubicacion_Direccion').on('change keyup paste', function () {
                if ($(this).val()) {
                    $('#addLocation').removeClass('disabled');
                }
                else {
                    $('#addLocation').addClass('disabled');
                }
            });
            $('#addLocation').on('click', function () {
                if (!$(this).hasClass('disabled')) {
                    var idx = $('#ListaUbicaciones').children().length;
                    var locationDiv = document.createElement('li');
                    locationDiv.setAttribute('id', 'PuntoVenta_Ubicaciones_' + idx + '_');
                    locationDiv.setAttribute('name', 'PuntoVenta.Ubicaciones[' + idx + ']');
                    var re1 = new RegExp('\\[-]', 'g');
                    var re2 = new RegExp('_-_', 'g');
                    locationDiv.innerHTML = $('#ubicacionLi').html().replace(re1, '[' + idx + ']').replace(re2, '_' + idx + '_');
                    $('#ListaUbicaciones').append(locationDiv);
                    $('#PuntoVenta_Ubicaciones_' + idx + '__Latitud').val($('#Ubicacion_Latitud').val());
                    $('#PuntoVenta_Ubicaciones_' + idx + '__Longitud').val($('#Ubicacion_Longitud').val());
                    $('#PuntoVenta_Ubicaciones_' + idx + '__Descripcion').val($('#Ubicacion_Descripcion').val());
                    $('#PuntoVenta_Ubicaciones_' + idx + '__Direccion').val($('#Ubicacion_Direccion').val());
                    if (!$('#Ubicacion_Descripcion').val()) {
                        $('#Ubicaciones_' + idx + '__Descripcion').html('sin-título');
                    }
                    else {
                        $('#Ubicaciones_' + idx + '__Descripcion').html($('#Ubicacion_Descripcion').val());
                    }
                    $('#Ubicaciones_' + idx + '__Direccion').html($('#Ubicacion_Direccion').val());
                    $('#Ubicacion_Descripcion').val('');
                    $('#Ubicacion_Direccion').val('');
                    $('#addLocation').addClass('disabled');
                    //EventListenenrs
                    //Agregar marcador
                }
            });
        });

        function myMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(initMap);
            }
            else {
                alert('Geolocalización no soportada por el navegador.');
            }
        };

        function initMap(pos) {
            var mapProp = {
                center: new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude),
                zoom: 14
            };

            var map = new google.maps.Map(document.getElementById("map"), mapProp);
            var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: { lat: pos.coords.latitude, lng: pos.coords.longitude }
            });
            marker.addListener('dragend', markerDragged);

            updateHiddenLocation(pos.coords.latitude, pos.coords.longitude)

            $('#search-in-map').on('click', function () {
                if ($('#Ubicacion_Direccion').val()) {
                    var geocoder = new google.maps.Geocoder;
                    geocoder.geocode({ 'address': $('#Ubicacion_Direccion').val() }, function (results, status) {
                        if (status === 'OK') {
                            if (results[0]) {
                                map.setCenter(results[0].geometry.location);
                                marker.setPosition(results[0].geometry.location);
                            }
                            else {
                                window.alert('No logramos encontrar la dirección ingresada, por favor indícala en el mapa.');
                            }
                        }
                        else {
                            window.alert('Falló la geolocalización. Código de error: ' + status);
                        }
                    });
                }
                else {
                    alert('Primero ingresa una dirección para buscarla en el mapa.');
                }
            });

            $('#get-from-marker').on('click', function () {
                var geocoder = new google.maps.Geocoder;
                geocoder.geocode({ 'location': marker.getPosition() }, function (results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            $('#Ubicacion_Direccion').val(results[0].formatted_address);
                            $('#addLocation').removeClass('disabled');
                        }
                        else {
                            window.alert("No fue posible encontrar la dirección del punto seleccionado.");
                        }
                    }
                    else {
                        window.alert('Falló la geolocalización. Código de error: ' + status);
                    }
                });
            })
        }

        function markerDragged(e) {
            updateHiddenLocation(e.latLng.lat, e.latLng.lng);
        }

        function updateHiddenLocation(lat,lng) {
            $('#Ubicacion_Latitud').val(lat);
            $('#Ubicacion_Longitud').val(lng);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbdSaqKOCcG5pEN1H57ONKGeJ1T0ZLL0k&callback=myMap"></script>
}
